body{
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1eeee;
}
h1{
    margin-top: 10vh;
}
input{
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
button{
    border: none;
    padding: 10px;
    width: 10vh;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 16px;
    background: #679be3;
    cursor: pointer;
    text-align: center;
    transition: background-color .2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
button:hover{
    background-color: #5682c2;
}
th{
    background-color: rgb(86, 130, 194, 0.5);
    border-radius: 15px;
    padding: 5px;
    height: 50px;
}
table{
    margin-left: 20px;
    border-radius: 15px;
    padding: 10px;
    background: rgb(103, 155, 227, 0.5);
    width: 25vw;

}
/*Анимация еррор красной обводки*/
.error {
    padding: 8px;
    border: 2px solid transparent; /* красная рамка */
    animation: blink 1s 2;
}
@keyframes blink {
    0% { border-color: transparent; }
    50% { border-color: red}
    100% {
        border-color: transparent;
    }
}